<!-- A partial to be overwritten by the user.
     Its content will appear before the closing </head>-tag -->


<!-- Custom CSS via inline styles
     You may use this template to add custom CSS to your site like so: -->

<style>
:root {
    /* see variables.scss for more variables*/

    --cover-text-color: #f2f2f2;
    --highlight: #050a30;
    --highlight-contrast: #f2f2f2;
    --highlight-inverse: #2232aa;
    --highlight-inverse-contrast: #f2f2f2;
    --section-light-text-color: #050a30!important;
    --section-light-bg-color: #f2f2f2!important;
    --section-dark-bg-color: #050a30!important;
    --section-dark-text-color: #f2f2f2!important;
    --sticky-menu-text-color: #050a30;
    --cover-title-and-description-guard-bg-color: rgba(255, 255, 255, 0.6);
    --cover-title-text-shadow: white 0px 0px 0px;

     /* define list element for unnumbered lists, leave empty for default list element */
     /* fa-asterisk is the default icon if this variable definition is missing completely */
     --ul-li-icon: fa-dashcube;     /* this sets fa-dashcube as list icon */
     --ul-li-icon: ;                /* this sets the default html list icon */
}
section {
    margin: auto;
    padding-top: 10px;
}
div#sectionleft {
    float: left;
    margin-right: 10px;
}
div#sectionright {
    margin: auto;
}
</style>


<!-- Custom CSS via "custom.css"-file
     If you would rather place your custom CSS into
     a separate file, create a "custom.css" in your
     local "static/css"-directory. Then add a <link>-tag
     referencing your "custom.css" like so: -->

<!-- <link rel="stylesheet" href='{{ "css/custom.css" | absURL }}'> -->

<!-- Custom CSS: Color Codes
     You may checkout https://htmlcolorcodes.com/ to get those
     weird color codes (like "#22343A") ;-). -->

<!-- Custom link-tags for different icons
     Generated via https://favicon.io/favicon-generator/ -->


<link
  rel="apple-touch-icon"
  sizes="180x180"
  href="{{ "images/apple-touch-icon.png" | absURL }}"
/>
<link
  rel="icon"
  type="image/png"
  sizes="32x32"
  href="{{ "images/favicon-32x32.png" | absURL }}"
/>
<link
  rel="icon"
  type="image/png"
  sizes="16x16"
  href="{{ "images/favicon-16x16.png" | absURL }}"
/>
